body {
  background-color: #454545;
  color: white;
  margin: 5px;
}

.board {
  background-color: rgb(255,60,60);
  border: 5px solid black;
  border-radius: 10px;
  min-width: 100px;
  min-height: 100px;
}

circle.visible {
  fill: white;
  stroke: black;
  stroke-width: 5px;
  cursor: pointer;
}

circle.ring {
  fill: none;
  stroke: none;
  stroke-width: 5px;
}

circle.visible.hover + .ring, circle.visible.selected + .ring {
  stroke: white;
}

line {
  stroke: black;
  stroke-width: 3px;
  z-index: -1;
}

.sideBar, .tab {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  border: 3px solid black;
  border-left: 0px;
  z-index: 1;
}

.sideBar {
  width: 150px;
  height: 300px;
  top: 50px;
  left: -167px;
  transition: all 0.3s;
  padding-left: 15px;
}

.tab {
  background-color: black;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  width: 12px;
  height: 50px;
  top: calc(50% - 50px);
  left: 167px;
}

.settingHolder {
  margin-bottom: 10px;
}

.settings {
  padding-left: 5%;
  margin-top: 10%;
  /*margin-bottom: 50%;*/
}

.slider {
  margin-bottom: 10px;
  width: 90%;
}

.settingHolder container {
  margin-left: 8px;
}

.settingHolder span {
  margin-left: 5px;
  font-size: 20px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}

.settingHolder span:active {
  color: grey;
}

/*for styling sliders:*/
/*remove styling:*/
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid black;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -9px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: white;
  border-radius: 0px;
  border: 3px solid black;
}
